@media screen and (min-width: 960px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  section {
    grid-column: span 1;
    margin: 0.2rem;
  }
}
