body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 3;
}

main {
  background: coral;
  grid-column: 1 / 2;
}

.right-sidebar {
  background: yellow;
  grid-column: 2 / 3;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 3;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
nav {
  background-color: rgba(144, 238, 144, 0.574);
  grid-column: 1 / 3;
  padding: 1rem;
}
