body {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid navy;
  padding: 1rem;
  background-color: rgba(136, 184, 255, 0.753);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: white;
}
