@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* html selectors */
body {
  margin: auto;
  font-family: 'Merriweather', Serif;
  background-color: white;
}
footer {
  background-color: #417b5a;
  color: white;
  padding: 1rem;
  text-align: center;
}
h1 {
  font-family: 'Staatliches', sans-serif;
  color: #d3eaee;
}
h2 {
  font-family: 'Staatliches', sans-serif;
}
header {
  width: auto;
  display: flex;
  background-color: #417b5a;
  color: white;
  padding: 0.5rem;
}
header img {
  height: 100px;
  width: 100px;
  justify-content: space-around;
}
/* main {
  margin-top: -150px;
} */
nav {
  margin-top: -17px;
  margin-bottom: -37px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
nav li:hover {
  color: #d3eaee;
  background-color: #2d3047;
  text-align: center;
}
nav li {
  padding: 8px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #39564d;
  list-style: none;
  padding: 1rem;
}

/* class selectors */
.button-box {
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  padding-bottom: 50px;
  margin: 40px;
}
.card {
  border: groove #39564d;
  margin: 1rem 0rem;
  align-items: center;
  margin: 20px;
}
.card h2 {
  background-color: #39564d;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-block-start: 0px;
}
.card h3 {
  color: #2d3047;
  font-family: 'Staatliches', sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;
}
.card li {
  list-style: none;
  margin: 2px;
  text-align: center;
}
.card ul {
  list-style: none;
  padding: 0;
  color: #2d3047;
}
.events {
  margin-top: 20px;
}
.hero-image {
  margin-top: -151px;
}
.hero-image img {
  width: 100%;
  margin-top: -92px;
}
.hero-text {
  text-align: center;
  color: white;
  position: relative;
  top: 200px;
}
.join-box {
  background-color: white;
  color: #2d3047;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
}
.join-box:hover {
  background-color: #417b5a;
  color: #d3eaee;
  text-decoration: none;
  font-size: 18px;
}
.spotlights {
  padding: 10px;
  text-align: center;
}
.spotlights h2 {
  color: #2d3047;
}
.spotlights-card {
  border: 2px solid #2d3047;
  margin: 10px;
}
.spotlights-card h3 {
  color: #2d3047;
  font-family: 'Staatliches', sans-serif;
  text-align: center;
  padding-left: 10px;
}
.spotlights-card li {
  list-style: none;
  margin: 12px;
  text-align: center;
}
.spotlights-card ul {
  list-style: none;
  padding: 0;
  color: #2d3047;
}

/* id selectors */

/* hamburger */
#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#menu::before {
  content: '☰';
}
#menu.open::before {
  content: '✕';
}
.navigation {
  display: none;
}
.open li {
  display: list-item;
}
.open li a {
  display: block;
}
.navigation.open {
  display: flex;
}

/* Discover Page */
.discover-sidebar {
  background-color: white;
}
#discover-page {
  margin-top: 3rem;
}
.image-card img {
  width: 450px;
}
#nov-calendar {
  margin-top: -10px;
}
.card img {
  width: 95%;
  margin: 10px;
}

.card p {
  font-size: 1rem;
  margin: 10px;
  margin-top: -10px;
  padding: 10px;
}

/* Directory Page */
.member-card {
  border: groove #39564d;
  margin: 1rem 0rem;
  align-items: center;
  text-align: center;
  margin: 10px;
  grid-column: span 1;
}

.member-card h2 {
  background-color: #39564d;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-block-start: 0px;
}

.member-card p {
  font-size: 1rem;
  margin: 10px;
  margin-top: -10px;
  padding: 5px;
}

.member-card a {
  background-color: #39564d;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  margin: 50px;
}

.member-card a:hover {
  background-color: #417b5a;
}
.member-card img {
  margin: 40px;
  width: 250px;
}
#directory-website {
  margin: 20px;
}
#directory-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-columns: repeat();
}
button {
  background-color: #39564d;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
  font-family: 'Merriweather', Serif;
  width: 75px;
}
button:hover {
  background-color: #417b5a;
}

.menu {
  text-align: center;
}
