@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* html selectors */
body {
  margin: auto;
  font-family: 'Merriweather', Serif;
  background-color: white;
}
footer {
  background-color: #417b5a;
  color: white;
  padding: 1rem;
  text-align: center;
}
header {
  width: auto;
  display: flex;
  background-color: #417b5a;
  color: white;
  padding: 0.5rem;
}
header img {
  height: 100px;
  width: 100px;
  justify-content: space-around;
}
h1 {
  font-family: 'Staatliches', sans-serif;
  color: #d3eaee;
  margin: 10px;
}
nav {
  margin-top: -17px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #39564d;
  list-style: none;
  padding: 1rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav li {
  padding: 8px;
}
nav a:hover {
  color: #d3eaee;
}
nav li:hover {
  background-color: #2d3047;
  width: 800px;
  text-align: center;
}
/* class selectors */
.hero-image img {
  width: 100%;
  margin-top: -17px;
}
h2 {
  font-family: 'Staatliches', sans-serif;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: white;
}
.button-box {
  text-align: center;
  font-family: 'Staatliches', sans-serif;
}
.button-box a {
  text-decoration: none;
  color: #2d3047;
}
.card {
  border: 2px solid #2d3047;
  margin: 10px;
}
.card li {
  list-style: none;
  margin: 12px;
  text-align: center;
}
.card h2 {
  text-align: center;
  padding: 2px;
  color: #2d3047;
}
.card ul {
  list-style: none;
  padding: 0;
  color: #2d3047;
}
.spotlights {
  padding: 10px;
  text-align: center;
}
.spotlights h2 {
  color: #2d3047;
}
.card h3 {
  color: #2d3047;
  font-family: 'Staatliches', sans-serif;
  text-align: left;
  padding-left: 10px;
}
/* id selectors */
