@media screen and (min-width: 960px) {
  nav ul {
    flex-direction: row;
    height: auto;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
  h2 {
    padding-top: 1rem;
  }

  .card {
    margin: 1rem 0.5rem;
    grid-row: 2/3;
  }
  #menu {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .hero {
    height: 560px;
  }
  .herolabel {
    top: 180px;
    left: 70px;
  }
  .google-map {
    grid-column: 1/4;
    height: 10px;
    padding-bottom: 40%;
  }
}
